/* =========================================================
   responsive.css
========================================================= */

@media (max-width:360px){
    .app{
        padding:7px;
    }

    .preview,
    #editor{
        padding:8px;
    }

    header h1{
        font-size:21px;
    }
}

@media (prefers-reduced-motion:reduce){
    *,
    *::before,
    *::after{
        scroll-behavior:auto !important;
        animation-duration:.01ms !important;
        animation-iteration-count:1 !important;
        transition-duration:.01ms !important;
    }
}
